*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    body, html{
        width: 100vw;
        height: 100vh;
    }
}

.changelog{
    width: 100vw;
    padding-top: 10px;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .changelog-heading{
        text-align: center;
        width: 100vw;
        flex-direction: column;
        display: flex;
        gap: 10px;
        p{
            color: rgb(165, 165, 165);
        }
    }
}

.timeline{
    display: flex;
    text-align: center;
    width: 100vw;
    align-items: center;
/*     padding-top: 25px; */
    flex-direction: column;
    .entry{
        display: flex;
        flex-direction: row;
/*         gap: 20px; */
        .description{
            display: flex;
            gap: 15px;
            align-items: center;
        &:before{
            content: "";
            width: 10px;
            background-color: black;
            display: block;
            height: 10px;
            border-radius: 50%;
            flex-shrink: 0;
        }
        }
        .date{
            display: flex;
            gap: 15px;
            align-items: center;
        &:after{
            content: "";
            width: 2px;
            height: 75px;
                        flex-shrink: 0;
            position: relative;
    transform: translate(6px, 0);

            display: block;
            background-color: black;
        }
        }
    }
}
.button-container{
    button{
        padding: 15px 35px;
        cursor: pointer;
        background-color: black;
        color: white;
        border: none;
        border-radius: 10px;
        transition: .3s;
        &:hover{
            transform: scale(1.2);
        }
    }
}